@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;
}

label {
  // font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
  font-size: 14px;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
  }
}

//main-container全局样式

.app-container {
  padding: 20px;
}

.el-popover {
  text-align: unset;
}

// 更多条件样式
.moreConditionColumns {
  width: 475px;
  .condition {
    display: inline-block;
  }
  .condition:nth-child(even) {
    margin-left: 10px;
  }
}

// 公共样式
.text-red {
  color: #f56c6c;
}
.el-button--text.text-red:focus,
.el-button--text.text-red:hover {
  color: #f56c6c;
}

// 操作提示
.tip {
  color: #909399;
  margin: 0;
  font-size: 1rem;
  > label {
    color: #67c23a;
  }
}

// handsoneTable 表格
.handsontable .htDimmed {
  background: #f7f7f7;
}

// 普通排课-》排课规则
.pkgzPt .el-tabs__header {
  margin-bottom: 0;
}
