#app {
  // 主体区域
  .main-container {
    // height: calc(100% - 60px);
    transition: margin-left 0.28s;
    margin-left: 200px;
    position: relative;
  }
  // 侧边栏
  .openSidebar .sidebar-container {
  }
  .sidebar-container {
    transition: width 0.28s;
    width: 200px !important;
    height: 100%;
    position: fixed;
    font-size: 0px;
    top: 60px;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: auto;
    border-right: 1px solid #e5e5e5;
    //reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out,
        0s padding-right ease-in-out;
    }
    .el-scrollbar__bar.is-vertical {
      right: 0px;
      display: none;
    }
    .scrollbar-wrapper {
      overflow: unset;
      height: auto;
      .el-scrollbar__view {
        // height: 100%;
      }
    }
    .is-horizontal {
      display: none;
    }
    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }
    .svg-icon {
      margin-right: 16px;
    }
    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
    }
    .el-submenu__title {
      background: white !important; // 一级标题背景色
      color: #303133 !important;
    }
    .is-active .el-submenu__title {
      background: #e8e9fd !important; // 一级标题背景色
      color: #409eff !important; // 一级标题 active 字体颜色
    }
  }
  .submenu-title-noDropdown {
    color: #303133 !important;
    background: white !important;
    // border-bottom: 1px solid #dddddd;
  }
  .router-link-active .submenu-title-noDropdown,
  .el-menu-item.submenu-title-noDropdown:hover {
    background-color: #e8e9fd !important; // hover 字体颜色
    color: #409eff !important;
  }
  .hideSidebar {
    .sidebar-container {
      width: 0 !important;
    }
    .main-container {
      margin-left: 0;
    }
    .submenu-title-noDropdown {
      padding-left: 10px !important;
      position: relative;
      .el-tooltip {
        padding: 0 10px !important;
      }
    }
    .el-submenu {
      overflow: hidden;
      & > .el-submenu__title {
        padding-left: 10px !important;
        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }
    .el-menu--collapse {
      .el-submenu {
        & > .el-submenu__title {
          & > span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }
  .sidebar-container .nest-menu .el-submenu > .el-submenu__title,
  .sidebar-container .el-submenu .el-menu-item {
    min-width: 180px !important;
    background-color: $subMenuBg !important; // 字体、背景颜色
    color: #333333 !important;
    &:hover {
      background-color: $menuHover !important; // hover 字体 、 背景颜色
      color: #409eff !important;
    }
  }
  .el-menu--collapse .el-menu .el-submenu {
    min-width: 180px !important;
  }
  .sidebar-container .el-submenu .el-menu-item.is-active {
    background-color: $menuHover !important; // hover 字体颜色
    color: #409eff !important;
  }
  //适配移动端
  .mobile {
    .main-container {
      margin-left: 0px;
    }
    .sidebar-container {
      transition: transform 0.28s;
      width: 180px !important;
    }
    &.hideSidebar {
      .sidebar-container {
        transition-duration: 0.3s;
        transform: translate3d(-180px, 0, 0);
      }
    }
  }
  .withoutAnimation {
    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}

.el-menu--vertical {
  & > .el-menu {
    .svg-icon {
      margin-right: 16px;
    }
  }
}
